Tao Izzo Elvira

# Libreria General

In [1]:
import pandas as pd

# Carga desde sistema local

In [2]:
# import io 
from google.colab import files

In [3]:
uploaded = files.upload()

Saving insurance.csv to insurance.csv

In [4]:
datalocal = pd.read_csv("titanic.csv")
# data= pd.read_csv(io.BytesIO(uploaded["titanic.csv"]))

In [5]:
datalocal

     Survived  Pclass  ... Parents/Children Aboard     Fare
0           0       3  ...                       0   7.2500
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
4           0       3  ...                       0   8.0500
..        ...     ...  ...                     ...      ...
882         0       2  ...                       0  13.0000
883         1       1  ...                       0  30.0000
884         0       3  ...                       2  23.4500
885         1       1  ...                       0  30.0000
886         0       3  ...                       0   7.7500

[887 rows x 8 columns]

#Carga desde Google Drive

In [6]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [7]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [8]:
link = "https://drive.google.com/open?id=1VquztiN8US8SH39bF8maT1GPUrYrPOh_"

In [9]:
fluff, id = link.split("=")
print(id)

1VquztiN8US8SH39bF8maT1GPUrYrPOh_

In [10]:
download = drive.CreateFile({"id":id})
download.GetContentFile("data.csv")

In [11]:
datadrive = pd.read_csv("data.csv")

In [12]:
datadrive

        id                   nivel  ...        lon             coordenadas
0        0                 INICIAL  ... -99.211154   19.4251542,-99.211154
1        1                 INICIAL  ... -99.131801  19.3648281,-99.1318013
2        2                 INICIAL  ... -99.202637   19.3351668,-99.202637
3        3                 INICIAL  ... -99.170147  19.4336398,-99.1701471
4        4                 INICIAL  ... -99.066102  19.3826355,-99.0661015
...    ...                     ...  ...        ...                     ...
3691  3691  Preescolar - Inicial *  ... -99.131801  19.3648281,-99.1318013
3692  3692  Preescolar - Inicial *  ... -99.141439  19.3091684,-99.1414388
3693  3693  Preescolar - Inicial *  ... -99.150245  19.4931035,-99.1502446
3694  3694  Preescolar - Inicial *  ... -99.173730    19.2883405,-99.17373
3695  3695  Preescolar - Inicial *  ... -99.199735  19.4365343,-99.1997352

[3696 rows x 12 columns]

# Carga desde Kaggle

In [13]:
from google.colab import files
!pip install -q kaggle

In [14]:
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [15]:
!kaggle datasets download -d paultimothymooney/latitude-and-longitude-for-every-country-and-state

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
latitude-and-longitude-for-every-country-and-state.zip: Skipping, found more recently modified local copy (use --force to force download)

In [16]:
!mv kaggle.json /root/.kaggle/kaggle.json

In [17]:
!kaggle datasets download -d paultimothymooney/latitude-and-longitude-for-every-country-and-state

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
latitude-and-longitude-for-every-country-and-state.zip: Skipping, found more recently modified local copy (use --force to force download)

In [18]:
!unzip latitude-and-longitude-for-every-country-and-state.zip

Archive:  latitude-and-longitude-for-every-country-and-state.zip
replace world_country_and_usa_states_latitude_and_longitude_values.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: yes
  inflating: world_country_and_usa_states_latitude_and_longitude_values.csv

In [19]:
datakaggle = pd.read_csv("world_country_and_usa_states_latitude_and_longitude_values.csv")

In [20]:
datakaggle

    country_code   latitude  ...  usa_state_longitude   usa_state
0             AD  42.546245  ...          -154.493062      Alaska
1             AE  23.424076  ...           -86.902298     Alabama
2             AF  33.939110  ...           -91.831833    Arkansas
3             AG  17.060816  ...          -111.093731     Arizona
4             AI  18.220554  ...          -119.417932  California
..           ...        ...  ...                  ...         ...
240           YE  15.552727  ...                  NaN         NaN
241           YT -12.827500  ...                  NaN         NaN
242           ZA -30.559482  ...                  NaN         NaN
243           ZM -13.133897  ...                  NaN         NaN
244           ZW -19.015438  ...                  NaN         NaN

[245 rows x 8 columns]

# Analisis exploratorio de datos

Para el analizis exploratorio usare codigos de cajon que tengo, los cuales facilitan la tarea de analziar, limpiar y transformar en caso de ser necesario el proceso se repitira con los 3 datasets, en caso de hacer limpieza cambiara dependiendo la necesidad

## local

In [21]:
# Se explora el dataset
datalocal.head()

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [22]:
# se observa de cuanto es la longitud del mismo (filas)
len(datalocal)

887

In [23]:
datalocal.dtypes

Survived                     int64
Pclass                       int64
Name                        object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard      int64
Fare                       float64
dtype: object

In [24]:
# Se ve la informacion de las columnas, con el proposito de saber que contiene cada una asi como si tiene valores unicos o repetidos (categorias)
for col in datalocal.columns:
    print("-"*20 + col+"-"*20)
    display(datalocal[col].value_counts())

--------------------Survived--------------------

0    545
1    342
Name: Survived, dtype: int64

--------------------Pclass--------------------

3    487
1    216
2    184
Name: Pclass, dtype: int64

--------------------Name--------------------

Mr. Guentcho Bostandyeff                               1
Mrs. Alexander A (Grace Charity Laury) Robins          1
Miss. Sara Rebecca Compton                             1
Miss. Bertha Lehmann                                   1
Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen    1
                                                      ..
Mr. William Carbines                                   1
Mr. Ramon Artagaveytia                                 1
Mrs. Charles Melville (Clara Jennings Gregg) Hays      1
Mr. Albert Augustsson                                  1
Miss. Maria Nakid                                      1
Name: Name, Length: 887, dtype: int64

--------------------Sex--------------------

male      573
female    314
Name: Sex, dtype: int64

--------------------Age--------------------

22.00    39
28.00    37
18.00    36
21.00    34
24.00    34
         ..
70.50     1
36.50     1
23.50     1
55.50     1
0.42      1
Name: Age, Length: 89, dtype: int64

--------------------Siblings/Spouses Aboard--------------------

0    604
1    209
2     28
4     18
3     16
8      7
5      5
Name: Siblings/Spouses Aboard, dtype: int64

--------------------Parents/Children Aboard--------------------

0    674
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parents/Children Aboard, dtype: int64

--------------------Fare--------------------

8.0500     43
13.0000    42
7.8958     36
7.7500     33
26.0000    31
           ..
8.4583      1
9.8375      1
8.3625      1
14.1083     1
17.4000     1
Name: Fare, Length: 248, dtype: int64

In [25]:
# se observa solo el nombre de las columnas que contiene
datalocal.columns.values

array(['Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare'],
      dtype=object)

In [26]:
# se busca si hay nulos
datalocal.isnull().sum()

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [27]:
# se buscan duplicados en las filas 
datalocal.duplicated().sum()

# Para mostrar filas con duplicados es:
# datalocal[datalocal.duplicated()]

0

Al ser un dataset limpio, no habria mas que llevarlo a proceso de graficacion/modelaje

## drive

In [28]:
# Se explora el dataset
datadrive.head()

   id    nivel  ...        lon             coordenadas
0   0  INICIAL  ... -99.211154   19.4251542,-99.211154
1   1  INICIAL  ... -99.131801  19.3648281,-99.1318013
2   2  INICIAL  ... -99.202637   19.3351668,-99.202637
3   3  INICIAL  ... -99.170147  19.4336398,-99.1701471
4   4  INICIAL  ... -99.066102  19.3826355,-99.0661015

[5 rows x 12 columns]

In [29]:
# se observa de cuanto es la longitud del mismo (filas)
len(datadrive)

3696

In [30]:
datadrive.dtypes

id                 int64
nivel             object
nombre            object
turno             object
domicilio         object
colonia           object
alcaldia          object
sostenimiento     object
ubicacion         object
lat              float64
lon              float64
coordenadas       object
dtype: object

In [31]:
# Se ve la informacion de las columnas, con el proposito de saber que contiene cada una asi como si tiene valores unicos o repetidos (categorias)
for col in datadrive.columns:
    print("-"*20 + col+"-"*20)
    display(datadrive[col].value_counts())

--------------------id--------------------

2047    1
2680    1
2676    1
625     1
2672    1
       ..
1226    1
3271    1
1222    1
3267    1
0       1
Name: id, Length: 3696, dtype: int64

--------------------nivel--------------------

Preescolar                1869
Primaria                  1094
Secundaria                 524
INICIAL                    159
Preescolar - Inicial *      42
Especial - CAM               6
Adultos                      2
Name: nivel, dtype: int64

--------------------nombre--------------------

COLEGIO OLIVERIO CROMWELL                     9
COLEGIO DEL BOSQUE                            6
WESTHILL INSTITUTE                            6
IMPULSO PEDAGÓGICO MEXICANO                   5
JARDIN DE NIÑOS FEDERICO FROEBEL              5
                                             ..
IMAGINA                                       1
CENDI PART CENTRO EDUCATIVO INTERKIDS         1
INSTITUTO EDUCATIVO YIREH                     1
INSTITUTO SIGLO XXI                           1
INSTITUTO PEDAGÓGICO KAHLO DE MÉXICO, A.C.    1
Name: nombre, Length: 2832, dtype: int64

--------------------turno--------------------

MATUTINO            3567
TIEMPO COMPLETO       88
VESPERTINO            36
NOCTURNO               3
JORNADA AMPLIADA       2
Name: turno, dtype: int64

--------------------domicilio--------------------

MATANZAS NO. 1013               3
AVENIDA BENITO JUÁREZ NO. 28    3
SUR 25 NO. 257                  3
AV. 5 NO. 89                    3
BONDOJITO No. 290               3
                               ..
TORRES ADALID 626               1
AVENIDA SANTA LUCIA NUM 260     1
TRUCHA NO. 47                   1
BORIS GODUNOV No. 133           1
ESTADO DE NAYARIT No. 15        1
Name: domicilio, Length: 3465, dtype: int64

--------------------colonia--------------------

DEL VALLE                  76
LINDAVISTA                 60
AGRICOLA ORIENTAL          53
JARDINES DEL PEDREGAL      47
JARDIN BALBUENA            39
                           ..
ZONA EJIDOS DE PADIERNA     1
ESTANZUELA                  1
VALLE ESCONDIDO             1
LOMA DE LA PALMA            1
PEÑON DE LOS BAÑOS          1
Name: colonia, Length: 709, dtype: int64

--------------------alcaldia--------------------

IZTAPALAPA                636
GUSTAVO A. MADERO         473
TLALPAN                   325
ALVARO OBREGON            321
BENITO JUAREZ             294
COYOACAN                  290
MIGUEL HIDALGO            223
CUAUHTEMOC                190
CUAJIMALPA DE MORELOS     172
XOCHIMILCO                149
VENUSTIANO CARRANZA       140
IZTACALCO                 138
AZCAPOTZALCO              126
TLAHUAC                   103
LA MAGDALENA CONTRERAS     84
MILPA ALTA                 32
Name: alcaldia, dtype: int64

--------------------sostenimiento--------------------

Particular    3696
Name: sostenimiento, dtype: int64

--------------------ubicacion--------------------

AV. 5 NO. 89, GRANJAS SAN ANTONIO, IZTAPALAPA                            3
BOULEVARD CAPRI NO. 97, LOMAS ESTRELLA, IZTAPALAPA                       3
PIRINEOS NO. 173, PORTALES, BENITO JUAREZ                                3
JOSÉ MARÍA MORELOS Y PAVON NO. 27, SANTA MARIA AZTAHUACAN, IZTAPALAPA    3
GENERAL HERMINIO CHAVARRIA NO. 22, CITLALI, IZTAPALAPA                   3
                                                                        ..
25 NO. 50, OLIVAR DEL CONDE 2A SECCION, ALVARO OBREGON                   1
ORIENTE 83 NO 4209, MALINCHE, GUSTAVO A. MADERO                          1
MOCORITO NO. 89, ALVARO OBREGON, VENUSTIANO CARRANZA                     1
RETORNO 1 DE SUR 12 "C" NO. 46, AGRICOLA ORIENTAL, IZTACALCO             1
CALZADA MEXICO TACUBA NO 982, TORRE BLANCA, MIGUEL HIDALGO               1
Name: ubicacion, Length: 3484, dtype: int64

--------------------lat--------------------

19.363635    6
19.347971    6
19.299023    5
19.356474    5
19.487333    4
            ..
19.365024    1
19.325416    1
19.276224    1
19.254777    1
19.310232    1
Name: lat, Length: 2711, dtype: int64

--------------------lon--------------------

-99.068771    6
-99.030162    6
-99.182745    5
-99.266252    5
-99.043647    5
             ..
-99.125652    1
-99.250480    1
-99.053654    1
-99.164405    1
-99.090571    1
Name: lon, Length: 2681, dtype: int64

--------------------coordenadas--------------------

19.3479712,-99.0301617    6
19.3636352,-99.0687706    6
19.3564739,-99.2662522    5
19.2990233,-99.0436467    5
19.3600114,-99.1985152    4
                         ..
19.3030803,-99.1303354    1
19.3438284,-99.0511592    1
19.3201149,-99.0582741    1
19.5058493,-99.2096244    1
19.3766923,-99.1850432    1
Name: coordenadas, Length: 2712, dtype: int64

In [32]:
# se observa solo el nombre de las columnas que contiene
datadrive.columns.values

array(['id', 'nivel', 'nombre', 'turno', 'domicilio', 'colonia',
       'alcaldia', 'sostenimiento', 'ubicacion', 'lat', 'lon',
       'coordenadas'], dtype=object)

In [33]:
# se busca si hay nulos
datadrive.isnull().sum()

id                0
nivel             0
nombre            0
turno             0
domicilio         0
colonia           0
alcaldia          0
sostenimiento     0
ubicacion         0
lat              37
lon              37
coordenadas      37
dtype: int64

In [34]:
len(datadrive[(datadrive["lat"].isnull())& (~datadrive["coordenadas"].isnull())])
# data[(data['nombre'].str.contains('INICIAL')) & (~data['nivel'].str.contains('INICIAL'))]

0

In [35]:
len(datadrive[(datadrive["lat"].isnull())& (datadrive["coordenadas"].isnull())])

37

In [36]:
len(datadrive[(datadrive["lon"].isnull())& (~datadrive["coordenadas"].isnull())])

0

In [37]:
len(datadrive[(datadrive["lon"].isnull())& (datadrive["coordenadas"].isnull())])

37

In [38]:
# se buscan duplicados en las filas 
datadrive.duplicated().sum()

# Para mostrar filas con duplicados es:
# datalocal[datalocal.duplicated()]

0

De primera instancia se podrian borrar las coordenadas, sin embargo, es bueno verificar que lat y lon correspondan con las coordenadas, de no ser asi se podrian extraer estas de coordenadas o vicerversa y luego proceder a eliminar ya sea lat y lon o solo coordenadas, debido a que se repite la informacion

## Kaggle

In [39]:
# Se explora el dataset
datakaggle.head()

  country_code   latitude  ...  usa_state_longitude   usa_state
0           AD  42.546245  ...          -154.493062      Alaska
1           AE  23.424076  ...           -86.902298     Alabama
2           AF  33.939110  ...           -91.831833    Arkansas
3           AG  17.060816  ...          -111.093731     Arizona
4           AI  18.220554  ...          -119.417932  California

[5 rows x 8 columns]

In [40]:
datakaggle.dtypes

country_code            object
latitude               float64
longitude              float64
country                 object
usa_state_code          object
usa_state_latitude     float64
usa_state_longitude    float64
usa_state               object
dtype: object

In [41]:
# se observa de cuanto es la longitud del mismo (filas)
len(datakaggle)

245

In [42]:
# Se ve la informacion de las columnas, con el proposito de saber que contiene cada una asi como si tiene valores unicos o repetidos (categorias)
for col in datakaggle.columns:
    print("-"*20 + col+"-"*20)
    display(datakaggle[col].value_counts())

--------------------country_code--------------------

ES    1
UA    1
SY    1
PH    1
SV    1
     ..
GF    1
AZ    1
LY    1
FR    1
ME    1
Name: country_code, Length: 244, dtype: int64

--------------------latitude--------------------

-0.023559     1
 41.153332    1
 49.817492    1
 41.902916    1
-19.054445    1
             ..
 51.919438    1
 18.109581    1
 31.046051    1
 21.521757    1
 37.090240    1
Name: latitude, Length: 244, dtype: int64

--------------------longitude--------------------

 138.252924    1
-3.996166      1
 174.885971    1
 43.356892     1
 21.824312     1
              ..
 29.154857     1
 35.243322     1
 104.990963    1
 14.995463     1
 108.277199    1
Name: longitude, Length: 244, dtype: int64

--------------------country--------------------

Denmark        1
Jamaica        1
Egypt          1
Benin          1
Guatemala      1
              ..
New Zealand    1
Lesotho        1
Slovakia       1
Laos           1
Samoa          1
Name: country, Length: 245, dtype: int64

--------------------usa_state_code--------------------

OK    1
UT    1
TX    1
TN    1
IN    1
MN    1
NJ    1
PR    1
NM    1
NV    1
OR    1
NC    1
AK    1
SC    1
WA    1
IL    1
NY    1
CO    1
CA    1
ND    1
NH    1
PA    1
DE    1
AZ    1
GA    1
AR    1
FL    1
ID    1
AL    1
WV    1
CT    1
KY    1
MD    1
SD    1
NE    1
VT    1
MO    1
OH    1
MS    1
HI    1
LA    1
VA    1
WY    1
WI    1
DC    1
MA    1
KS    1
RI    1
IA    1
MT    1
MI    1
ME    1
Name: usa_state_code, dtype: int64

--------------------usa_state_latitude--------------------

38.802610    1
19.898682    1
38.597626    1
44.068202    1
40.058324    1
37.431573    1
36.778261    1
41.580095    1
43.784440    1
38.910832    1
41.492537    1
27.664827    1
32.157435    1
42.407211    1
31.244823    1
41.203322    1
40.633125    1
39.320980    1
43.804133    1
37.964253    1
35.007752    1
32.318231    1
41.878003    1
39.011902    1
47.751074    1
39.045755    1
40.551217    1
35.517491    1
44.558803    1
43.299428    1
35.201050    1
46.879682    1
18.220833    1
44.314844    1
46.729553    1
45.253783    1
39.550051    1
31.968599    1
41.603221    1
34.048928    1
38.905985    1
33.836081    1
35.759573    1
47.551493    1
43.193852    1
37.839333    1
32.354668    1
40.417287    1
63.588753    1
43.075968    1
43.969515    1
34.972730    1
Name: usa_state_latitude, dtype: int64

--------------------usa_state_longitude--------------------

-99.901813     3
-89.398528     2
-85.602364     2
-91.831833     2
-111.093731    2
-82.907123     2
-77.033418     1
-116.419389    1
-74.405661     1
-154.493062    1
-120.740139    1
-69.445469     1
-105.782067    1
-81.163725     1
-93.097702     1
-86.902298     1
-107.290284    1
-71.477429     1
-78.656894     1
-94.685900     1
-72.577841     1
-80.454903     1
-114.742041    1
-105.032363    1
-86.580447     1
-73.087749     1
-120.554201    1
-101.002012    1
-71.382437     1
-75.527670     1
-97.092877     1
-119.417932    1
-66.590149     1
-155.665857    1
-79.019300     1
-74.217933     1
-84.270018     1
-110.362566    1
-98.484246     1
-81.515754     1
-77.194525     1
-88.787868     1
-71.572395     1
-76.641271     1
-92.145024     1
Name: usa_state_longitude, dtype: int64

--------------------usa_state--------------------

Wisconsin               1
Oklahoma                1
Illinois                1
Missouri                1
Iowa                    1
Rhode Island            1
Nevada                  1
Michigan                1
Massachusetts           1
Utah                    1
Nebraska                1
South Dakota            1
Idaho                   1
Georgia                 1
Virginia                1
South Carolina          1
Indiana                 1
Delaware                1
Arkansas                1
Connecticut             1
Pennsylvania            1
New Mexico              1
North Dakota            1
Alabama                 1
New Jersey              1
Maine                   1
Montana                 1
New Hampshire           1
Tennessee               1
West Virginia           1
Kentucky                1
Mississippi             1
Washington              1
Maryland                1
Puerto Rico             1
Alaska                  1
California              1
Colorado                1
Texas                   1
Vermont                 1
Oregon                  1
Wyoming                 1
District of Columbia    1
Florida                 1
New York                1
Louisiana               1
Hawaii                  1
Kansas                  1
Arizona                 1
North Carolina          1
Ohio                    1
Minnesota               1
Name: usa_state, dtype: int64

In [43]:
# se observa solo el nombre de las columnas que contiene
datakaggle.columns.values

array(['country_code', 'latitude', 'longitude', 'country',
       'usa_state_code', 'usa_state_latitude', 'usa_state_longitude',
       'usa_state'], dtype=object)

In [44]:
# se busca si hay nulos
datakaggle.isnull().sum()

country_code             1
latitude                 1
longitude                1
country                  0
usa_state_code         193
usa_state_latitude     193
usa_state_longitude    193
usa_state              193
dtype: int64

In [45]:
datakaggle[datakaggle["country_code"].isnull()]

    country_code  latitude  ...  usa_state_longitude usa_state
156          NaN -22.95764  ...                  NaN       NaN

[1 rows x 8 columns]

In [46]:
datakaggle[datakaggle["latitude"].isnull()]

    country_code  latitude  ...  usa_state_longitude usa_state
226           UM       NaN  ...                  NaN       NaN

[1 rows x 8 columns]

In [47]:
datakaggle[datakaggle["longitude"].isnull()]

    country_code  latitude  ...  usa_state_longitude usa_state
226           UM       NaN  ...                  NaN       NaN

[1 rows x 8 columns]

In [48]:
len(datakaggle[(datakaggle["usa_state_code"].isnull()) & (datakaggle["usa_state_latitude"].isnull()) & (datakaggle["usa_state_longitude"].isnull()) & (datakaggle["usa_state"].isnull())])

193

In [49]:
# se buscan duplicados en las filas 
datakaggle.duplicated().sum()

# Para mostrar filas con duplicados es:
# datalocal[datalocal.duplicated()]

0

In [50]:
# Plus
paises=datakaggle[(datakaggle["usa_state_code"].isnull()) & (datakaggle["usa_state_latitude"].isnull()) & (datakaggle["usa_state_longitude"].isnull()) & (datakaggle["usa_state"].isnull())]["country"]
j=1
for i in paises:
  print(str(j)+" "+i)
  j=j+1

1 Czech Republic
2 Germany
3 Djibouti
4 Denmark
5 Dominica
6 Dominican Republic
7 Algeria
8 Ecuador
9 Estonia
10 Egypt
11 Western Sahara
12 Eritrea
13 Spain
14 Ethiopia
15 Finland
16 Fiji
17 Falkland Islands [Islas Malvinas]
18 Micronesia
19 Faroe Islands
20 France
21 Gabon
22 United Kingdom
23 Grenada
24 Georgia
25 French Guiana
26 Guernsey
27 Ghana
28 Gibraltar
29 Greenland
30 Gambia
31 Guinea
32 Guadeloupe
33 Equatorial Guinea
34 Greece
35 South Georgia and the South Sandwich Islands
36 Guatemala
37 Guam
38 Guinea-Bissau
39 Guyana
40 Gaza Strip
41 Hong Kong
42 Heard Island and McDonald Islands
43 Honduras
44 Croatia
45 Haiti
46 Hungary
47 Indonesia
48 Ireland
49 Israel
50 Isle of Man
51 India
52 British Indian Ocean Territory
53 Iraq
54 Iran
55 Iceland
56 Italy
57 Jersey
58 Jamaica
59 Jordan
60 Japan
61 Kenya
62 Kyrgyzstan
63 Cambodia
64 Kiribati
65 Comoros
66 Saint Kitts and Nevis
67 North Korea
68 South Korea
69 Kuwait
70 Cayman Islands
71 Kazakhstan
72 Laos
73 Lebanon
74 Saint Lucia
75 Liechtenstein
76 Sri Lanka
77 Liberia
78 Lesotho
79 Lithuania
80 Luxembourg
81 Latvia
82 Libya
83 Morocco
84 Monaco
85 Moldova
86 Montenegro
87 Madagascar
88 Marshall Islands
89 Macedonia [FYROM]
90 Mali
91 Myanmar [Burma]
92 Mongolia
93 Macau
94 Northern Mariana Islands
95 Martinique
96 Mauritania
97 Montserrat
98 Malta
99 Mauritius
100 Maldives
101 Malawi
102 Mexico
103 Malaysia
104 Mozambique
105 Namibia
106 New Caledonia
107 Niger
108 Norfolk Island
109 Nigeria
110 Nicaragua
111 Netherlands
112 Norway
113 Nepal
114 Nauru
115 Niue
116 New Zealand
117 Oman
118 Panama
119 Peru
120 French Polynesia
121 Papua New Guinea
122 Philippines
123 Pakistan
124 Poland
125 Saint Pierre and Miquelon
126 Pitcairn Islands
127 Puerto Rico
128 Palestinian Territories
129 Portugal
130 Palau
131 Paraguay
132 Qatar
133 Réunion
134 Romania
135 Serbia
136 Russia
137 Rwanda
138 Saudi Arabia
139 Solomon Islands
140 Seychelles
141 Sudan
142 Sweden
143 Singapore
144 Saint Helena
145 Slovenia
146 Svalbard and Jan Mayen
147 Slovakia
148 Sierra Leone
149 San Marino
150 Senegal
151 Somalia
152 Suriname
153 São Tomé and Príncipe
154 El Salvador
155 Syria
156 Swaziland
157 Turks and Caicos Islands
158 Chad
159 French Southern Territories
160 Togo
161 Thailand
162 Tajikistan
163 Tokelau
164 Timor-Leste
165 Turkmenistan
166 Tunisia
167 Tonga
168 Turkey
169 Trinidad and Tobago
170 Tuvalu
171 Taiwan
172 Tanzania
173 Ukraine
174 Uganda
175 U.S. Minor Outlying Islands
176 United States
177 Uruguay
178 Uzbekistan
179 Vatican City
180 Saint Vincent and the Grenadines
181 Venezuela
182 British Virgin Islands
183 U.S. Virgin Islands
184 Vietnam
185 Vanuatu
186 Wallis and Futuna
187 Samoa
188 Kosovo
189 Yemen
190 Mayotte
191 South Africa
192 Zambia
193 Zimbabwe

Debido a que los valores perdidos en las primeras 3 columnas es 1, se recomienda checar estas filas pro separado para ver si hay relacion alguna, pero con las ultimas 4 columnas la cosa cambia, al ser demasiados valores perdidos se ve si en todos ellos son iguales, es decir, si en la misma fila estan presentes esos 4 valores. Para esos ultimos valores como plus se podria extraer a que pais pertenecen